@import "./variables";
@import "./global";
@import "./mixin";

header {
  @include tablet(){
    justify-content: center;
  }
  background-color: transparent;
  position: fixed;
  width: 100%;
  top: 0;
  padding: 17px 17px;
  z-index: 1000;
  @extend .flex;
  justify-content: space-between;

  // logo
  .logo {
    font-size: 33px;
    color: $text-color;
    font-weight: 700;
    // udemig yazısı için
    span {
      color: $main-color;
    }
  }
  // navbar kısmı
  .navbar {
    @extend .flex;
    gap: 10px;
   li {
    @include laptop(){
      display: none;
    }
    a {
      color: $text-color;
      font-size: $p-font;
      font-weight: 500;
      margin: 15px 22px;
      text-transform: uppercase;
      @extend .transition;
       &:hover {
        color: $main-color;
      }
    }
   }
  }
  // Right Kısmı

.header-right {
  @extend .flex;
  a{
    @include tablet(){
      display: none;
    }
    font-size: 20px;
    color: $text-color;
    margin-right: 18px;
    margin-left: 5px;
    @extend .transition;
    &:hover{
      color: $main-color;
      transform: translateY(-3px) ;
    }
  }
  a:nth-child(1) {
    font-size: $p-font;
    margin-right: 20px;
  }
 }
}
